$orange: #fda214;
$grey: #bcced9;
$greyish-black: #304859;
$black: #152938;
$off-white: #f2f2f2;
$dark-grey: #7191a5;
$greyish-blue: #6395b8;
$white: #fcfcfc;
$backdrop-color: #979797;
$result-grid-bg: #dfe7ec;

@mixin action-button-wrapper($btn-color) {
  height: 2rem;
  border: none;
  border-radius: 26px;
  width: 100%;
  margin-right: 5px;
  background-color: $btn-color;

  font-weight: bold;
  @if $btn-color == $grey {
    color: $black;
  } @else {
    color: $white;
  }
}

@mixin darken-on-hover($color) {
  cursor: pointer;
  background-color: darken($color, 10%);
}
