<dialog class="modal" #dialog>
  <app-result-dialog
    *ngIf="!nonMatchedItem"
    [gameType]="gameType"
    [playerIdx]="playerIdx"
    [clickCounter]="clickCounter"
    [timer]="timer"
    (restartCall)="restartCall()"
  ></app-result-dialog>
</dialog>
<div class="container">
  <div class="section section-header">
    <h3 style="width: 60%">Memory</h3>
    <div class="button-wrapper">
      <button class="restart-button" (click)="restartCall()">Restart</button>
      <button class="new-game-button" (click)="newSetup()">New Game</button>
    </div>
  </div>
  <div class="section-body" [ngStyle]="getGridStyles()">
    <ng-container *ngFor="let i of indexArr">
      <ng-container *ngFor="let j of indexArr">
        <div
          class="coin"
          (click)="coinClicked(i * gameType!.gridSize + j)"
          [ngClass]="{
            'coin-open': memoryDataSet![i * gameType!.gridSize + j].matched,
            'last-open-coins': lastTwoClickedIdx.includes(
              i * gameType!.gridSize + j
            )
          }"
        >
          <div class="front"></div>
          <div class="back" *ngIf="gameType!.gameTheme === 'number'">
            {{ memoryDataSet![i * gameType!.gridSize + j].value }}
          </div>
          <div class="back" *ngIf="gameType!.gameTheme === 'icons'">
            <i
              class="{{ memoryDataSet![i * gameType!.gridSize + j].value }}"
            ></i>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div
    class="section section-footer"
    *ngIf="gameType!.numberOfPlayers !== 1; else soloPlayer"
  >
    <div class="button-wrapper">
      <button
        *ngFor="let player of playerIdx"
        class="player-button"
        [ngClass]="{ selected: player.current }"
      >
        <span id="player-button-ribon" *ngIf="player.current"></span>
        <div class="left-text">{{ player.title }}</div>
        <div class="right-text">{{ player.points }}</div>
      </button>
    </div>
    <div class="current-player-text-wrapper">
      <div id="current-player-text" *ngFor="let player of playerIdx">
        {{ player.current ? "Current player" : "" }}
      </div>
    </div>
  </div>
  <ng-template #soloPlayer>
    <div class="section section-footer-solo">
      <div class="player-score">
        <div class="left-text">Time</div>
        <div class="right-text">{{ timer.mm }}:{{ timer.ss }}</div>
      </div>
      <div class="player-score">
        <div class="left-text">Moves</div>
        <div class="right-text">{{ clickCounter }}</div>
      </div>
    </div>
  </ng-template>
</div>
