@import "../../../gloabl-styles-variable/global-var";
@import "../../../styles.scss";

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .section {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0;
      width: 100%;
    }
  }
}

.section-header {
  flex: 0 0 10%;
  align-items: center;
}

.section-footer-solo {
  flex: 0 0 10%;
  align-items: center;
}

.section-footer {
  flex-direction: column;
  flex: 0 0 10%;
  align-items: center;
  justify-content: flex-start !important;
}

.player-button {
  position: relative;
  width: 100%;
  margin-right: 10px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: $grey;
  #left-text {
    float: left;
    padding-left: 5px;
    font-weight: bold;
    color: $dark-grey;
  }
  #right-text {
    float: right;
    padding-right: 5px;
    font-size: large;
    font-weight: bold;
    color: $greyish-black;
  }

  #player-button-ribon {
    top: -22px;
    position: absolute;
    border: 12px solid transparent;
    border-bottom-color: $orange;
  }

  .current-player-text-wrapper {
    width: 100%;
    display: flex;
    font-weight: bold;
    letter-spacing: 3px;
    justify-content: space-between;
  }
}

.selected {
  background-color: $orange !important;
  span {
    color: $white !important;
  }
}

.section-footer :last-child {
  margin-right: 0px;
}

.button-wrapper {
  .restart-button {
    @include action-button-wrapper($orange);
  }
  .restart-button:hover {
    @include darken-on-hover($orange);
  }
  .new-game-button {
    @include action-button-wrapper($grey);
  }
  .new-game-button:hover {
    @include darken-on-hover($grey);
  }
}

@media screen and (max-width: 767px) {
  .section {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section {
    width: 60%;
  }
}

@media screen and (min-width: 1025px) {
  .section {
    width: 40%;
  }
}

.coin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: $greyish-black;
  color: $off-white;
  font-size: 32px;
  font-weight: bold;
  margin: 10px;
}

.coin-open {
  background-color: $grey;
}

.last-open-coins {
  background-color: $orange;
}
