@import "./gloabl-styles-variable/global-var.scss";

body {
  margin: 0%;
  font-family: "Atkinson Hyperlegibl";
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button-warpper :last-child {
  margin-right: 0;
}
